<h1>履歴編集</h1>
<%= form_with model: @task_history, local:true do |f| %>
  <%= @task_history.task.task_name %>
  <div class="form-group">
    <%= f.label :start_time, 'start_time' %>
    <%= f.time_select :start_time %>
  </div>

  <div class="form-group">
    <%= f.label :finish_time, 'finish_time' %>
    <%= f.time_select :finish_time %>
  </div>

  <div><%= f.submit "Update User", class: 'btn btn-secondary' %></div>
<% end %>
