<%= stylesheet_link_tag 'edit_new' %>

<h1>Edit History</h1>
<div class="task-history-edit-form-wrapper">

  <div class="error">
    <% if @task_history.errors.any? %>
      An error occurred while processing your request.<br>
      <% @task_history.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
  </div>

  <%= form_with model: @task_history, local:true do |f| %>
    <h2><%= @task_history.task.task_name %></h2>
    <div class="start-box">
      <%= f.label :start_time, 'Start Time', class: "start-text" %>
      <%= f.time_select :start_time, class: "start-select" %>
    </div>

    <div class="finish-box">
      <%= f.label :finish_time, 'End Time', class: "finish-text" %>
      <%= f.time_select :finish_time %>
    </div>

    <div class="actions"><%= f.submit "Update User" %></div>
  <% end %>
</div>