
<%= stylesheet_link_tag 'homes' %>

<h1 class="home-h1">kaji-note</h1>

<div id="box">
  <div id="images">
    <div class="image-container">
      <%= image_tag 'home.png', class: 'image1' %>
    </div>
    <div class="image-container">
      <%= image_tag 'timer.png', class: 'image1' %>
    </div>
    <div class="image-container">
      <%= image_tag 'history.png', class: 'image1' %>
    </div>
    <div class="image-container">
      <%= image_tag 'chart.png', class: 'image1' %>
    </div>
  </div>
</div>

<div class="home-top-wrapper">
  <div class="home-top-box">
    <a href="/users/sign_up" class="btn-square">Create an account</a>
  </div>

  <div class="home-top-box">
    <a href="/users/sign_in" class="btn-square">log in</a>
  </div>
</div>


<!--スライドの記述-->
<script type"text/javascript">
$(document).ready(function () {
  $("#images").skippr({
    transition : 'slide',
    speed : 1000,
    easing : 'easeOutQuart',
    navType : 'block',
    childrenElementType : 'div',
    arrows : true,
    autoPlay : true,
    autoPlayDuration : 3000,
    keyboardOnAlways : true,
    hidePrevious : false
  });
});
</script>