
<%= stylesheet_link_tag 'homes_top' %>

<h1>kaji-note</h1>

  <div class="top-box">
    <h2>kaji-noteとは?</h2>
    <h3>家事・育児に忙しい毎日を送る夫婦を<br>サポートするアプリです</h3>
    <h4>一緒に暮らしていて、意識・認識にズレがあると、<br>
        せっかくの結婚生活が喧嘩ばかりという事にもなりかねません。<br>
        kaji-noteは生活から切っても切り離せない『家事』をわかりやすく可視化し<br>
        二人が家事・育児という大変なことに対して共に向き合えることを意識しています。
    </h4>
    <h5><span class="under">4ステップ kaji-noteの使い方</span></h5>
      <div class="point-box">
        <ul>
          <li><span class="unders">1 我が家の家事を登録</span></li>
          <li><span class="unders">2 timerをセットして時間を記録</span></li>
          <li><span class="unders">3 今日の履歴をチェック</span></li>
          <li><span class="unders">4 家事の比率もグラフで確認</span></li>
        </ul>
      </div>
    <h6><span class="under">kaji-noteのポイント</span></h6>
  </div>

  <div class="top-container">
    <div class="box">
      <div class="text">
        <h7>二人のためのオリジナル家事を登録</h7>
        <p>デフォルトの家事リストはご用意していません。<br>
           二人にとって必要な家事をパートナーと話し合い、<br>
           『我が家の家事リスト』を作成できます。<br>
           家事リストは追加、編集、削除も可能です。<br>
        </p>
      </div>
      <div class="pict"><%= image_tag 'home.png' %></div>
    </div>
    <div class="box">
      <div class="text">
        <h7>タイマー機能で家事の時間を記録</h7>
        <p>家事を始める時は「time start」、家事を終える時は「time end」の<br>
           ボタンを押すだけの簡単操作で家事ごとにかかった時間を記録できます。<br>
        </p>
      </div>
      <div class="pict"><%= image_tag 'timer.png' %></div>
    </div>
    <div class="box">
      <div class="text">
        <h7>毎日の家事を履歴でチェック</h7>
        <p>ページの上部に今日の達成家事を個数と時間にわけて表示できます。<br>
           今日の履歴を見ながら、二人の分担状況もチェックしましょう。<br>
           毎日の達成度を二人で確認することで<br>
           知らず知らずのうちにパートナーがしてくれていた家事に<br>
           気づくきっかけとなるかもしれません。<br>
           また、スクロールすれば今までの履歴も確認できます。
        </p>
      </div>
      <div class="pict"><%= image_tag 'history.png' %></div>
    </div>
    <div class="box">
      <div class="text">
        <h7>家事ごとのトータル時間と平均時間を可視化</h7>
        <p>記録した家事をタスクごとにグラフ表示できます。<br>
           円グラフは家事ごとのトータル時間を、<br>
           棒グラフは平均時間を表しています。<br>
           円グラフを見ることで、どの家事に時間を使う傾向があるのかを分析でき、<br>
           家事の数だけでなくかかる時間によって家事分担を見直すことが可能です。<br>
           また、棒グラフからは家事ごとの平均時間が分かるので、<br>
           一定時間内に家事を完了させようという意識を持つことで、<br>
           効率的に家事を行うことができます。
        </p>
      </div>
      <div class="pict"><%= image_tag 'chart.png' %></div>
    </div>

    <div class="top-box">
      <h6><span class="under">使ってみましょう！</span></h8>
    </div>

    <div class="home-top-box">
      <div class="home-top-button">
        <a href="/users/sign_up" class="a-button">Create an account</a>
      </div>
      <div class="home-top-button">
        <a href="/users/sign_in" class="a-button">log in</a>
      </div>
    </div>
</div>






