<!DOCTYPE html>
<html>
  <head>
    <title>KajiNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <!--ユーザーがsign_in時のヘッダー-->
      <% if user_signed_in? %>
      <%= current_user.name %>
        <header>
          <div class="menu-drawer">
            <input type="checkbox" id="chk" />
            <label class="btn" for="chk"></label>
            <label class="other" for="chk"></label>
            <div class="content">
              <h2><i class="fas fa-list-ul"></i>メニュー</h2>
                <div class="menu">
                  <%= link_to home_path do %><i class="fas fa-home"></i>home<% end %>
                  <%= link_to charts_path do %><i class="fas fa-chart-pie"></i>glaph<% end %>
                  <%= link_to tasks_path do %><i class="fas fa-clipboard-list"></i>task<% end%>
                  <%= link_to task_histories_path do %><i class="fas fa-history"></i>history<% end %>
                  <%= link_to edit_user_path(current_user) do %><i class="fas fa-user-cog"></i>setting<% end %>
                  <%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>sign out<% end %>
                </div>
                <p><i class="fas fa-chevron-down"></i></p>
            </div>
          </div>
        </header>

    <!--ユーザーがsign_out時のヘッダー-->
    <% else %>
        <header>
          <div class="menu-drawer">
            <input type="checkbox" id="chk" />
            <label class="btn" for="chk"></label>
            <label class="other" for="chk"></label>
            <div class="content">
              <h2><i class="fas fa-list-ul"></i>メニュー</h2>
                <div class="menu">
                  <%= link_to new_user_session_path do %><i class="fas fa-sign-in-alt"></i></i>sign in<% end %>
                  <%= link_to new_user_registration_path do %><i class="fas fa-user-plus"></i>sign up<% end %>
                  <p></p>
                </div>
            </div>
          </div>
        </header>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer></footer>

  </body>
</html>
